@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
	
	/* Un message personnalisé */

	body:before {
		content: "Version mobile du site";
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}
}

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}




div.gallery {
	border: 1px solid #ccc;
}
  
div.gallery:hover {
	border: 1px solid #777;
}

/**/
.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}
@media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
}
@media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.gallery img.noStock
{
	filter: brightness(30%);
	-webkit-filter: brightness(30%);
}

/* Centered text */
.centered_img {
	color: white;
	font-size: 1.4em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Bottom right text */
.bottom_right_img {
	color: white;
	font-size: 1.4em;
	position: absolute;
	bottom: 8px;
	right: 16px;
  }

.button {
	width: 100%;
	color:#7CBDBA;
  	text-decoration: none;
	display: inline-block;
	line-height: 3em;
	padding: 0 1em;
	background: #34343E;
	border-radius: 0em;
	background-clip: padding-box;
	margin-right: 1em;
	background-image: linear-gradient(to bottom, #464653, #3E3E49);	
}

/* Modal css */
.img_back {
	width: 100%;
	height: auto;
}